/*  */

@import "tailwindcss";
html {
    scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}


/* Hide horizontal scrollbar */

.no-scrollbar::-webkit-scrollbar {
    height: 0px;
    /* For horizontal scrollbar */
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideDown {
    overflow-y: scroll;
    animation: slideDown 0.3s ease-out;
}


/* Animation Keyframes */

@keyframes slow-zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    cursor: pointer;
}

@keyframes scroll-down {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.animate-slow-zoom {
    animation: slow-zoom 20s infinite alternate linear;
}

.animate-fade-in-up {
    animation: fade-in-up 1s ease-out forwards;
}

.animate-scroll-down {
    animation: scroll-down 1.5s infinite;
}